:root {
	--font: 			#fff8d4;
	--background:		#090333;
	--in-background:	#6858d1;
	--border: 			#b2aed1;
	--shadow: 			0px 8px 8px 0px rgba(0,0,0,0.2);
}

body
{
background-color: white;
}

.head_upper
{
width: 				80%;
min-width: 			69%;
margin:				auto;
padding:			0px;
}

		#head_upper_ul
		{
		list-style-type: 	none;
		display: 			flex;
		padding:			0px;
		margin:				0px;
		}

			#head_upper_ul li
			{
			font-family:	"Trebuchet MS", Arial, Verdana;
			color:			var(--background);
			}
			
			#about_us
			{
			margin-left:	0px;
			margin-right:	0px;
			}
			
			#contact_us
			{
			margin:			auto;	
			}
			
			#languages
			{
			margin:			auto;
			margin-right:	0px;
			margin-left:	0px;	
			}
			
				#head_upper_ul li a
				{
				font-family:	"Trebuchet MS", Arial, Verdana;
				color:			var(--background);
				}

.header_and_nav
{
border:				1px solid var(--border);
width: 				80%;
min-width: 			500px;
margin:				auto;
padding:			0px;
background-color:	var(--background);
border-radius:		10px;
}

	#header_ul
	{
	list-style-type: 	none;
	display: 			flex;
	padding:			0px;
	margin:				0px;
	}

	#header_ul li
	{
		font-family:	"Trebuchet MS", Arial, Verdana;
		color:			var(--font);
		padding:		0px;
	}
	
		#logo
		{
		margin-left:	0px;
		margin-right:	0px;
		}
		
		#nav_ul_outer_frame
		{
			margin:			auto;
			width:			50%;
		}

			#logo img
			{
			width:			70px;
			height:			50px;
			border-radius:	10px;
			}

		.nav_ul
		{
		list-style-type: 	none;
		display: 			flex;
		width:				100%;
		padding:			0px;
		margin:				0px;
		}

			.nav_ul li
			{
			font-family:	"Trebuchet MS", Arial, Verdana;
			color:			var(--background);
			margin:			auto;
			padding:		auto;	
			}

				.nav_ul li a
				{
				color:				var(--font);
				font-family: 		"Trebuchet MS", Arial, Verdana;
				}
				
				.nav_ul li a:hover
				{
				color:				#feffe8;
				text-decoration:	none;
				}
				
				.nav_ul li:hover 
				{
				border-bottom:	2px groove var(--border);
				font-size: 100%;
				transition: color .1s, font-size .1s;
				}
				
		#unmembering_expression
		{
		color:			var(--font);
		font-size:		100%;
		font-family: 	"Trebuchet MS", Arial, Verdana;
		margin:			auto;
		margin-right:	1%;
		margin-left:	0px;
		}

			#unmembering_expression a
			{
			color:			var(--font);
			font-family: 	"Trebuchet MS", Arial, Verdana;
			}

				#unmembering_expression a:hover
				{
				color:				#feffe8;
				}			

		#membering_expression
		{
		color:			var(--font);
		font-size:		100%;
		font-family: 	"Trebuchet MS", Arial, Verdana;
		margin:			auto;
		margin-right:	1%;
		margin-left:	0px;
		/*
		padding:		0px;
		margin:			0px;
		margin-top:		.65%;
		margin-left:	16%;
		*/
		}
		
		#membering_expression a
		{
		font-family: 	"Trebuchet MS", Arial, Verdana;
		color:			#594c07;
		}

				#membering_expression a:hover
				{
				color:				#feffe8;
				}			

		.login_group_ul
		{
		list-style-type: 	none;
		display:			flex;
		margin:				auto;
		}

		#personal_photo
		{
		width: 			50px;
		height:			40px;
		border-radius:	50%;
		/*margin-left:	5px;*/
		border:			none;
		}

			#me_li
			{
			color: 			var(--font);
			font-size:		120%;
			margin:			auto;
			}
			
			#me_li:active
			{
			cursor:	pointer;
			}

			#me_li:hover
			{
			cursor:	pointer;
			}

			.personal_area_frame
			{
			position: 		relative;
			display:		inline-block;
			}

			.fa-caret-down
			{
			color:			var(--font);
			text-align:		center;
			margin-top:		45%;
			margin-right:	2px;
			margin-left:	2px;
			}

			.fa-caret-down:active
			{
			cursor:	pointer;
			}

			.fa-caret-down:hover
			{
			cursor:	pointer;
			}

			.personal_area
			{
			display: 			none;
			position: 			absolute;
			background-color: 	var(--background);
			width: 				275px;
			box-shadow: 		0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 			1;
			border:				2px solid var(--border);
			border-radius:		10px;
			padding: 			20px;
			margin-left:		-250;
			overflow:			scroll;
			}

			#tr1, #tr2, #tr3, #tr1 th, #tr2 td, #tr3 td
			{
			padding-bottom: 10px;
			display: 		block;
			}
			
			#tr2 a, #tr3 a
			{
			color: 		var(--font);
			font-size:	80%;
			}
			
			#tr1 #name_personal_area
			{
			color:			var(--font);
			font-size:		80%;
			font-weight: 	bold;
			}
			
			#tr1 #email_personal_area
			{
			color:		#ccc595;
			font-size:	70%;
			}			
			
			.fa-power-off
			{
			text-align: 	center;
			color:			var(--font);
			font-size:		200%;
			}
			
			.fa-power-off:active
			{
			cursor:	pointer;
			}
		
			.fa-power-off:hover
			{
			cursor:	pointer;
			}
			
/*--------------------------*/
			
/*--------------------------*/

.form_container
{
margin:		auto;
padding: 	0;
text-align:	center;
width: 		40%;
min-width:	500px;
margin-top:	200px;
}

#form_title
{
margin: 		auto;
color:			var(--background);
font-size:		180%;
font-weight: 	bold;
}

.form_frame
{
border:				1px solid #e8e0c1;
padding:			60px;
border-radius:		10px;
box-shadow: 		0px 8px 8px 0px rgba(0,0,0,0.2);
background-color:	var(--background);
}

#login_table
{
width:				427px;
padding:			0px;
margin:				auto;
height:				200px;
}

#cel1
{
width: 		120px;
height:		60px;
text-align:	left;
font-size:	130%;
color:		var(--font);
}

#cel2
{
width: 		311px;
height:		60px;
text-align:	left;
}

#cel2 input[type="text"], #cel2 input[type="password"], #cel2 input[type="email"], #cel2 select, #cel1 button
{
font-size:	110%;
width:		300px;
color:		var(--background);
outline:	none;
}

#cel2 input:focus, #cel2 select:focus, #cel1 button:focus
{
outline:	none;
border:		1px solid #e8e0c1;
}

#cel2 span
{
color: var(--font);
}

#cel2 #clear_all
{
font-size:			110%;
height:				30px;
width:				120px;
border-radius: 		5px;
box-shadow:			2px 2px var(--background);
background-color:	var(--font);
color:				var(--background);
font-weight:		bold;
}

#cel2 #sign_in
{
font-size:			110%;
height:				30px;
width:				174px;
border-radius: 		5px;
box-shadow:			2px 2px var(--background);
background-color:	var(--font);
color:				var(--background);
font-weight:		bold;
}

#login_failure
{
text-align:		center;
font-size:		150%;
margin-top:		30px;
color:			var(--background);
font-weight:	bold;
}

#transparency_body
{
display: none;
background-color: rgba(0, 0, 0, 0.5);
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100%;
width: 100%;
}

#modal_content1
{
background-color: 	var(--background);
border:				1px solid #e8e0c1;
margin:				auto;
width:				500px;
height:				200px;
overflow: 			auto;
margin-top:			350px;
padding:			50px 50px 30px 50px;
}

#successful_detail
{
color:			var(--font);
font-size:		200%;
text-align:		center;
}

#form_frame
{
margin:		auto;
margin-top:	33px;
width:		380px;
text-align:	center;
}

#confirmation_code_title
{
margin:			auto;
width:			auto;
text-align:		center;
font-size:		150%;
font-weight:	bold;
color:			var(--font);
}

#confirmation_code
{
margin:			auto;
width:			120px;
text-align:		center;
font-size:		120%;
font-weight:	bold;
color:			var(--font);
}

#cancel_confirm
{
font-size:			100%;
height:				30px;
width:				120px;
border-radius: 		5px;
box-shadow:			2px 2px #858de2;
background-color:	var(--font);
color:				var(--background);
font-weight:		bold;
}

#ensure_confirm
{
font-size:			100%;
height:				30px;
width:				130px;
border-radius: 		5px;
box-shadow:			2px 2px #858de2;
background-color:	var(--font);
color:				var(--background);
font-weight:		bold;
}